<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
        <script src="dynamics.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Interactive text classifier</title>
    </head>
    <!--Comment-->
    <body>
        <section class="mdlacc">
            <span class="topic"><b>Model accuracy</b></span> <span class="value">75%</span>
            <form>
                <label for="txtdoc" class="topic"><b>Text Document</b></label>
                <textarea name="txtdoc" rows="3" cols="50"></textarea>
                <input type="submit" value="Predict" class="button">
            </form>
            <span class="topic"><b>Prediction result</b></span> <span class="value">Person (81%)</span>

        </section>
    </body>
</html>